.pane{
    -fx-color-label-visible: #beb8b8;
    -fx-background-image: url('../images/main.png');
    -fx-background-size: 500 400;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

.welcome {
    -fx-text-alignment: center;
    -fx-text-fill: #ffffff;
}

.loginButton {
    -fx-arc-width: 200px;
    -fx-arc-height: 30px;
    -fx-font-size: 16px;
   /* -fx-border-color: none;
    -fx-border-radius: 25px;*/
    -fx-background-color: #006900;
    -fx-background-radius: 25px;
    -fx-text-fill: #fff;
    -fx-cursor: hand;
}
.loginButton:hover{
    -fx-background-color: #499a49;
}

.registerButton {
    -fx-arc-width: 200px;
    -fx-arc-height: 30px;
    -fx-font-size: 16px;
   /* -fx-border-color: none;
    -fx-border-radius: 25px;*/
    -fx-background-color: #004e7e;
    -fx-background-radius: 25px;
    -fx-text-fill: #fff;
    -fx-cursor: hand;
}
.registerButton:hover{
    -fx-background-color: #00263f;
}

Label{
    -fx-text-fill: #ffffff;
}

.forgotPwdButton{
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-font-size: 12px;
    -fx-cursor: hand;
}

.errorHidden {
    -fx-background-color: transparent!important;
    -fx-text-fill: transparent!important;
}

.errorVisible {
    -fx-background-color: #ff5e51;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
    -fx-padding: 5px;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}