
.vBoxParent .displayName {
    -fx-font-size: 24px;
    -fx-text-fill: #ffffff;
}

.btnNormal {
    -fx-background-color: #004e7e;
    -fx-text-fill: #fff;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-font-family: "Open Sans", sans-serif;
}

.btnNormal:hover {
    -fx-background-color: #5abafc;
}

.btnAlert {
    -fx-background-color: #ff5e51;
    -fx-text-fill: #fff;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.btnAlert:hover {
    -fx-background-color: #ff9891;
    -fx-text-fill: #000000;
}