.parent {
    -fx-color-label-visible: #beb8b8;
    -fx-background-image: url('../images/main.png');
    -fx-background-size: 1200 800;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-font-size: 16px;
}

Label{
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
}

.container {
    -fx-background-color: transparent;
    -fx-background-radius: 20px;
    -fx-text-fill: #ffffff;
}

.table {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
}

.table-col {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-highlight-text-fill: #ffffff;
    -fx-text-alignment: center;
}

.table-view .column-header-background {
    -fx-background-color: #004e7e;
    -fx-background-radius: 20px 20px 0 0;
    /*-fx-background-insets: 0 11px 0 0;*/
    -fx-padding: 8px 0;
    -fx-text-fill: #ffffff;
    -fx-highlight-text-fill: #ffffff;
}

.table-view .column-header .label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 15px;
    -fx-font-weight: 800;
}

.table-row-cell {
    /* -fx-padding: 2px 0 2px 10px;*/


}

.table-row-cell:odd {
    -fx-background-color: rgba(0, 78, 126, 0.5);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-text-alignment: center;
}

.table-row-cell:even {
    -fx-background-color: rgba(0, 78, 126, 0.25);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-text-alignment: center;
}

.check{
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
}

.exit {
    -fx-background-color: #ff5e51;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
    -fx-padding: 7px;
}

.exit:hover{
    -fx-background-color: #ff7b71;
}

.saveRecords {
    -fx-background-color: #004e7e;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-cursor: hand;
    -fx-padding: 7px;
}

.saveRecords:hover{
    -fx-background-color: #026aa9;
}

.table-view{
    -fx-background-color: transparent;
}

.table-view .label{
    -fx-text-fill: #000;
}