.main .backButton {
    -fx-arc-height: 24px;
    -fx-arc-width: 24px;
    -fx-background-image: url(/Users/karstenbeck/Documents/Programming/Java/RMIT/FP/FPA2/icons/arrow-back.svg);
}

.errorHidden {
    -fx-background-color: transparent!important;
    -fx-text-fill: transparent!important;
}

.errorVisible {
    -fx-background-color: #720808;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
    -fx-padding: 5px;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.textFieldError{
    -fx-border-color: #720808 !important;
}