/*
.container {
    -fx-background-color: transparent;
}

.main {
    -fx-background-color: #23a4f5;
    -fx-background-radius: 20px;
}

.table {
    -fx-background-color: #0d6593;
    -fx-background-radius: 20px;

}

.table .table-view .column-header{
    -fx-text-fill: #fff;
    -fx-font-size: 16;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
    -fx-background-radius: 20px 20px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 5px 0;
}

!*.table-view .column-header {
    -fx-text-fill: #fff;
}*!

.table .table-col {
    -fx-text-fill: #fff;

}

.table-view .table-cell {
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
    -fx-alignment: CENTER;
}

.table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: #bbbaba;
}

.table-row-cell:odd {
    -fx-background-color: rgba(82, 160, 201, 0.49);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:even {
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-text-fill: #fff;
}

.table-col {
}




.deleteButton {
    -fx-background-color: #f36464;
    -fx-text-fill: #fff;
    -fx-background-radius: 30px;
    -fx-arc-height: 30px;
    -fx-start-margin: 20px;
    -fx-end-margin: 20px;
    -fx-min-width: 80px;
    -fx-pref-width: 80px;
}

.editButton {
    -fx-background-color: #4773a4;
    -fx-text-fill: #fff;
    -fx-background-radius: 30px;
    -fx-arc-height: 30px;
    -fx-start-margin: 20px;
    -fx-end-margin: 20px;
    -fx-min-width: 80px;
    -fx-pref-width: 80px;
}

.editButton:hover{
    -fx-background-color: #245d9d;
}

.deleteButton:hover{
    -fx-background-color: #ec8a8a;
}

.hbox {
    -fx-padding: 5px;
    -fx-spacing: 20px;
}
.menuPane {
    -fx-background-color: #2470a4;
    -fx-background-radius: 20px;
}

.menuButton {
    -fx-background-color: #154464;
    -fx-text-fill: #fff;
}

.menuButton:hover {
    -fx-background-color: #1a4460;
    -fx-text-fill: #fff;
}
.menu {
}

.profileImage {
    -fx-background-color: #67befa;
    -fx-border-color: #fff;
}*/
